@font-face {
    font-family: myFirstFont;
    src: url('/fonts/PlusJakartaSans-Medium.ttf');
}

@font-face {
    font-family: mySecondFont;
    src: url('/fonts/PlusJakartaSans-bold.ttf');
}

.mortgage-calculator {
    max-width: 1008px;
    min-height: 606px;
    font-family: myFirstFont;
    // Be sure to nest any custom classes on child elements to avoid conflicts
}

.form-control:focus {
    border: 1px solid hsl(61, 70%, 52%);
}

.form-control:focus + #tabColor {
    background-color: hsl(61, 70%, 52%);
    border: 1px solid hsl(61, 70%, 52%);
}

.form-control:focus + #tabColor2 {
    background-color: hsl(61, 70%, 52%);
    border: 1px solid hsl(61, 70%, 52%);
}

.form-control:focus + #tabColorSpecial {
    background-color: hsl(61, 70%, 52%);
    border: 1px solid hsl(61, 70%, 52%);
}

#radioBorder:hover {
    border: 1px solid hsl(61, 70%, 52%);
    cursor: pointer;
}

.radio-control:has(input:checked) {
    border: 1px solid hsl(61, 70%, 52%);
    background-color: rgba(215, 218, 47, 0.2);
}

#tabColorSpecial{
    border-radius: 5px 0px 0px 5px;
}

#itemMortgage{
    border-radius: 0px 5px 5px 0px;
}

input[type="radio"] {
    accent-color: hsl(61, 70%, 52%);
    width: auto;
    transform: scale(1.5);
    margin: 0;
    border: none;
    cursor: pointer;
  }

#mortgage-calculator-form{
    padding: 1em 1.5em;
}

#initialResultsView{
    border: 2px solid transparent;
    text-align: center;
}

.boldIt{
    font-family: mySecondFont;
}

#mortgageTitle{
    font-size: 24px;
}

#reset{
    padding: 0;
    background: none;
    color: hsl(200, 24%, 40%);
}

.form-control{
    width: 300px;
    height: 50px;
    border: 1px solid hsl(200, 24%, 40%);
    font-family: mySecondFont;
}

#calcButton{
    background-color: hsl(61, 70%, 52%);
    border: none;
    font-size: 18.4px;
    border-radius: 100vw;
    width: 100%;
    font-family: mySecondFont;
}

#radioBorder{
    width: 100%;
}

#calcResults{
    font-family: myFirstFont;
    background-color: hsl(202, 55%, 16%);
    color: white;
    padding: 2em 1.5em;
}

.total{
    background-color: #0e2431;
    border-radius: .5rem;
    border-top: 5px solid hsl(61, 70%, 52%);
    padding: 1rem;
}

#resultsFontColor{
    color: hsl(203, 41%, 72%);
}

#mortgageAmount{
    color: hsl(61, 70%, 52%);
    font-family: mySecondFont;
}

#totalRepayment{
    font-family: mySecondFont;
}

.input-group-text{
    background-color: hsl(202, 86%, 94%);
    font-family: mySecondFont;
    color: hsl(200, 24%, 40%);
    border: 1px solid hsl(200, 24%, 40%);
}

#resultsShowHere{
    font-family: mySecondFont;
    padding: 0px 0px 16px;
    font-size: 24px;
}


@media (min-width: 768px) {
    form{
        width: 100%;
    }

    #mortgage-calculator-form{
        border-radius: 20px 20px 0px 0px;
    }

    #mortgageApp{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    #titleDiv{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #calcResults{
        border-radius: 0px 0px 20px 20px;
    }

    .term-rate{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1.5rem;
    }

    .mortgageTerm{
        width: 50%;
    }

    .interestRate{
        width: 50%;
    }

    #calcButton{
        width: auto;
        padding: 1rem 2.5rem;
        margin-top: 15px;
    }

    #calcResults {
        padding: 2em;
    }

    #yourResults{
        font-size: 24px;
    }

    #mortgageAmount{
        font-size: 3.25rem;
        padding-bottom: 1rem;
    }
}


@media (min-width: 1200px) {
    #container{
        display: flex;
    }
    // .mortgage-calculator{
    //     position:relative;
    // }
    #mortgage-calculator-form{
        border-radius: 20px 0px 0px 20px;
    }

    #calcResults{
        border-radius: 0px 20px 20px 90px;
        align-content: center;
    }

    #container{
        background-color: white;
        border-radius: 20px 20px 20px 20px;
    }

    #showResults{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .total{
        height: 50%;
    }

    #yourResults{
        font-size: 24px;
        font-family: mySecondFont;
    }

    #mortgageAmount{
        // border: 2px solid red;
        font-size: 3.25rem;
        padding-bottom: 1rem;
    }
}